<footer class="footer text-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="">
              LIBRESEPN
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              Blog LIBRESEPN
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        &copy;{{ test | date: "yyyy" }} made by
        <a href="" target="_blank"> LIBRESEPN </a>
        for a better exprience about web.
      </div>
    </div>
  </div>
</footer>
