<header class="header" style="margin-top: -5px">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#" [routerLink]="['/main']">
      <img class="logo-header" src="assets/img/logo.jpg"  alt="Logo"><span style="font-family: 'Calibri'"> CENCAP</span>
    </a>
    <button id="navBarMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link btn-sm" [routerLink]="['/main', 'estudiante']" id="navbarEstudiante" href="#" data-toggle="modal" data-target="#myModalBuscar">
            <i class="fa fa-users" ></i> Estudiante
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-sm" [routerLink]="['/main', 'instructor']" id="navbarInstructor" href="#" data-toggle="modal" data-target="#modalFiltrar">
            <i class="fa fa-address-book"></i> Instructivo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-sm" [routerLink]="['/main', 'examen']" id="navbarExamen" href="#" data-toggle="modal" data-target="#modalFiltrar">
            <i class="fa fa-file-text"></i> Examen
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-sm" [routerLink]="['/main', 'estudianteExamen']" id="navbarExamenEst" href="#" data-toggle="modal" data-target="#modalFiltrar">
            <i class="fa fa-file-text"></i> Examenes Rendidos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-sm" [routerLink]="['/main', 'estudianteExamenSimulador']" id="navbarSimulador" href="#" data-toggle="modal" data-target="#modalFiltrar">
            <i class="fa fa-file-text"></i> Simulador
          </a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn-sm" href="#" id="navbarDropdownAdministracion" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-gear"></i> Adminsitracion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="navbarUsuario" class="dropdown-item  btn-sm fullscreen-button" href="#"> <i class="fa fa-users"></i> Usuario </a>
            <div class="dropdown-divider"></div>
            <a id="navbarRol" class="dropdown-item  btn-sm fullscreen-button" href="#"> <i class="fa fa-unlock-alt"></i> Roles </a>
          </div>
        </li>-->
      </ul>
      <a class="btn-sm"  style="color: white" (click)="logOut()">
        Log Out <i class="fa fa-sign-out"></i>
      </a>
    </div>
  </nav>
</header>
